# Игнорируем бинарные файлы и исполняемые файлы
/ASCII_graphics

# Игнорируем объектные файлы (если они появятся после компиляции)
*.o

# Игнорируем временные файлы редакторов
*~
.DS_Store

# Игнорируем папки сборки (если они есть)
build/
